.wiz-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
}

.step-page-container {
    flex: 1;
    margin: 20px auto;
    width: 80%;
}

.form-step {
    height: 100%;
}

.form-nav-btn {
    background-color: var(--nist-blue-default);
    color: white;
    margin: 20px 0 0 20px;
    width: 100px;
    height: 40px;
    float: right;
    border-radius: 5px;
    border: none;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
    }
}

.form-cancel-btn {
    background-color: var(--nist-blue-default);
    color: white;
    margin: 20px 0 0 20px;
    width: 100px;
    height: 40px;
    float: left;
    border-radius: 5px;
    border: none;
}

.bottom-control-container {
    width: 100%;
    height: 80px;
    background-color: var(--background-light-grey);
}

.bottom-btn-container {
    margin: auto;
    width: 80%;
}

.main-content {
    max-width: 100%;
    height: 100%;
    margin: auto;
}

.step-page {
    height: 100%;
}

.full-height {
    height: 100%;
}

// .radio-group {
//     margin-left: 2em;
// }

// .radio label {
//     cursor: pointer; 
// }
// .radio label input {
//     cursor: pointer; 
// }

// .wiz-nav {
//     padding: 10px 10px 10px 10px;
// }

// .wiz-nav > div > button {
//     border-radius: 25px;
//     border: 2px solid #ccc;
//     margin: 10px;
//     padding: 10px 40px;
// }

// .btn-default:hover {
//     background-color: #ccc;
// }
// .btn-info:disabled {
//     background-color: #eee;
//     color: #ccc;
// }
// .btn-default:disabled {
//     background-color: #eee;
//     color: #ccc;
// }
