<form [formGroup]="parantFormGroup" class="full-height">
    <oar-pushing-sidebar style="width: 100%; height: fit-content;">
        <div class="main-content">
            <p>Should you be the primary public contact for this record?</p>
            <div class="radio-group">
                <div class="radio">
                    <label title="Yes, I will be the primary public contact.">
                        <input type="radio" required name="creatorIsContact" value="true" (change)="toggleContactName($event)"
                            formControlName="creatorIsContact">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label title="No, another NIST staff person will be the primary public contact.">
                        <input type="radio" required name="creatorIsContact" value="false" (change)="toggleContactName($event)" formControlName="creatorIsContact">
                        No
                    </label>
                </div>
            </div>
            <div style="margin-top: 1em;" *ngIf="dataModel.creatorIsContact != undefined && !dataModel.creatorIsContact">
                <div style="margin-bottom: .5em;">Type in contact's name and select the appropriate match: </div>
                <input type="text" pInputText name="otherContact" formControlName="contactName" (input)="updateContactName($event)"/>
            </div>
        </div>
        <span class="sidebar-title">Question Help</span>
        <div class="sidebar-content">
            The primary public contact is a person familiar the content of this publication and,
            thus, can answer questions from the public that wish to reference this publication or
            make use of its contents.
        </div>
    </oar-pushing-sidebar>
</form>
