.container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    gap: 20px;
}

#left,
#right {
    flex: 1;
    min-width: 0;
}

#left mat-form-field {
    width: 100%;
}