<div class="full-height">
    <oar-pushing-sidebar [marginLeft]="marginLeft" style="width: 100%; height: fit-content;">
        <div class="main-content">
            <p>Will you be the primary public contact for this record?</p>
            <div class="radio-group">
                <div class="radio">
                    <label title="Yes, I will be the primary public contact.">
                        <input type="radio" required name="creatorIsContact" [value]="true" (change)="toggleContactName($event)" [(ngModel)]="dataModel.creatorIsContact">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label title="No, another NIST staff person will be the primary public contact.">
                        <input type="radio" required name="creatorIsContact" [value]="false" (change)="toggleContactName($event)" [(ngModel)]="dataModel.creatorIsContact">
                        No
                    </label>
                </div>
            </div>
            <div style="margin-top: 1em;" *ngIf="dataModel.creatorIsContact != undefined && !dataModel.creatorIsContact">
                <table width="100%" align="center">
                    <!-- People Lookup -->
                    <tr>
                        <td colspan="2">Type in contact's name and select the appropriate match:</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">
                            <div style="width: 100%;margin-bottom: 20px;padding-right: .5em;">
                                <div>
                                    <lib-people (dataChanged)="onDataChanged($event)"></lib-people>
                                </div>
                            </div>
                        </td>
                    </tr>
                
                    <!-- Last Name -->
                    <tr>
                        <td width="80px" align="left">
                            <span style="white-space: nowrap;" data-toggle="tooltip"
                                title="This field is required">Last Name:</span>
                        </td>
                        <td align="left" style="padding-right: 1em;">
                            <input type="text" 
                                [(ngModel)]="lastName" 
                                (input)="onContactChanged('lastName')" 
                                id="lastname-input"
                                placeholder="Last name" 
                                style="width: 100%;height: 2em;margin: 3px 10px;" />                        
                        </td>
                    </tr>

                    <!-- First Name -->
                    <tr>
                        <td align="left">
                            <span style="white-space: nowrap;" 
                                data-toggle="tooltip" 
                                title="This field is required">First Name:</span>
                        </td>
                        <td align="left" style="padding-right: 1em;">
                            <input type="text" 
                                [(ngModel)]="firstName" 
                                (input)="onContactChanged('firstName')" 
                                id="firstname-input"
                                placeholder="First name" 
                                style="width: 100%;height: 2em;margin: 3px 10px;" />                        
                        </td>
                    </tr>

                    <!-- Email -->
                    <tr>
                        <td align="left">
                            <span
                                data-toggle="tooltip" 
                                title="This field is recommended">
                                Email:
                            </span>
                        </td>
                        <td align="left" style="padding-right: 1em;">
                            <input type="text" 
                                [(ngModel)]="contactEmail" 
                                (input)="onContactChanged('email')" 
                                id="email-input" 
                                placeholder="Email"
                                style="width: 100%;height: 2em;margin: 3px 10px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <span class="sidebar-title">{{helpText["label"]}}</span>
        <div class="sidebar-content" [innerHTML]="helpText['general']"></div>
    </oar-pushing-sidebar>
</div>
