<div class="full-height">
    <oar-pushing-sidebar [marginLeft]="marginLeft" style="width: 100%; height: fit-content;">
        <div class="main-content">
            <p>Will you be the primary public contact for this record?</p>
            <div class="radio-group">
                <div class="radio">
                    <label title="Yes, I will be the primary public contact.">
                        <input type="radio" required name="creatorIsContact" [value]="true" (change)="toggleContactName($event)" [(ngModel)]="dataModel.creatorIsContact">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label title="No, another NIST staff person will be the primary public contact.">
                        <input type="radio" required name="creatorIsContact" [value]="false" (change)="toggleContactName($event)" [(ngModel)]="dataModel.creatorIsContact">
                        No
                    </label>
                </div>
            </div>
            <div style="margin-top: 1em;" *ngIf="dataModel.creatorIsContact != undefined && !dataModel.creatorIsContact">
                <div style="margin-bottom: .5em;">Type in contact's name and select the appropriate match: </div>
                <input
                    class="input-box"
                    style="width: 300px;"
                    type="text"
                    pInputText
                    name="otherContact"
                    [(ngModel)]="dataModel.contactName"
                    (input)="onContactNameChanged()"/>
            </div>
        </div>

        <span class="sidebar-title">{{helpText["label"]}}</span>
        <div class="sidebar-content" [innerHTML]="helpText['general']"></div>
    </oar-pushing-sidebar>
</div>
