<div class="full-height">
    <oar-pushing-sidebar [marginLeft]="marginLeft" style="width: 100%; height: fit-content;">
        <div class="main-content">
            <p>Will you be the primary public contact for this record?</p>
            <div class="radio-group">
                <div class="radio">
                    <label title="Yes, I will be the primary public contact.">
                        <input type="radio" required name="creatorIsContact" [value]="true" (change)="toggleContactName($event)" [(ngModel)]="dataModel.creatorIsContact">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label title="No, another NIST staff person will be the primary public contact.">
                        <input type="radio" required name="creatorIsContact" [value]="false" (change)="toggleContactName($event)" [(ngModel)]="dataModel.creatorIsContact">
                        No
                    </label>
                </div>
            </div>
            <div style="margin-top: 1em;" *ngIf="dataModel.creatorIsContact != undefined && !dataModel.creatorIsContact">
                <div class="container">
                    <div id="left">
                        <div style="margin-bottom: 5px;">
                            Name of group or individual contact:
                        </div>
                        <input type="text" 
                            [(ngModel)]="name" 
                            (input)="onContactChanged('name')" 
                            id="lastname-input"
                            placeholder="Name is required." 
                            style="width: 100%;height: 2em;" />
                        
                        <div style="margin-top: 1em;margin-bottom: 5px;">
                            Contact's email address:
                        </div>
                        <input type="text" 
                            [(ngModel)]="email" 
                            (input)="onContactChanged('email')" 
                            id="email-input" 
                            placeholder="Email"
                            style="width: 100%;height: 2em;" />
                    </div>
                    <div id="right">
                        Type in contact's name and select the appropriate match:
                        <div style="width: 100%;margin-bottom: 20px;padding-right: .5em;">
                            <div>
                                <lib-people (dataChanged)="onDataChanged($event)"></lib-people>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <span class="sidebar-title">{{helpText["label"]}}</span>
        <div class="sidebar-content" [innerHTML]="sanitizedHtml"></div>
    </oar-pushing-sidebar>
</div>
