<app-header-pub
        [appVersion]="appVersion"
        titleLn1="PUBLIC"
        titleLn2="DATA REPOSITORY"
        [homeButtonLink]="homeButtonLink">
    <div class="custom-navbar">
        <a href="/pdr/about" target="_blank">
            <b>About</b>
        </a>
        
        <a href="{{contactLink}}" target="_blank">
            <b>Help</b>
        </a>
        
        <a href="{{searchLink}}" target="_blank">
            <b>Search</b>
        </a>

        <a href="/datacart/global_datacart" 
            target="_blank" 
            class="cart-link">

            <b>Cart</b>
            <fa-icon [icon]="faCartShopping"></fa-icon>
            <span class="badge-notify">
                {{cartLength}}
            </span>
        </a>
    </div>
</app-header-pub>

<div style="min-height: 58%;">
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>
  