@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Colors */
    --science-theme-background-default: #019fbb;
    --science-theme-background-dark: #007287;
    --science-theme-background-light: #f5fbfd;
    --science-theme-background-light2: #e3f7fd;
    --science-theme-background-blue: #017abb;
    --science-theme-background-blue-hover:  #0197b1;
    --nist-green-default: #257a2d;
    --nist-green-dark: #1c6022;
    --nist-green-light: #6bad73;
    --nist-blue-default: #12659c;
    --nist-blue-dark: #0c4870;
    --nist-blue-light: #197dc0;
    --background-light-grey: #eeeeee;
    --white: #fff;

    font-family: sans-serif;

    /* Material buttons */
    --mdc-filled-button-container-shape: 5px;
    --mdc-outlined-button-container-shape: 5px;
    --mdc-text-button-container-shape: 5px;
    --mdc-protected-button-container-shape: 5px;      
}

.mat-btn {
    border-radius: 3px !important;
    height: 30px;
}

.textbox {
    border-radius: 5px;
    padding: 5px;
}

.amplifiable {
    transition: transform 0.2s ease-in-out;
}

.amplified {
    transform: scale(3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icon32-centered {
    font-size: 32px;
    width: 32px;
    height: 32px;
    line-height: 1;
    /* Force font baseline to collapse to exact element box */
}

.white-icon-button {
    color: #ffffff;

    /* Optional: Adjust the hover ripple effect state color to look good on dark backgrounds */
    --mat-icon-button-state-layer-color: #ffffff;
}

.custom-rounded-checkbox  {
    .mdc-checkbox__background {
        /* Set border radius */
        --mdc-checkbox-container-shape: 6px;
        border-radius: 3px !important;
        border-width: 1px !important;
        border-color: #2196F3 !important;
    }

    /* 2. ACTIVE / CHECKED STATE: Background Color & Border Color */
    .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
    .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
        background-color: var(--nist-blue-default) !important;
        /* Custom Active Box Fill Color */
        border-color: var(--nist-blue-default) !important;
        /* Custom Active Box Border Color */
    }
}