<div class="navigator-bar">
    <div class="form-steps-container">
            <ng-container *ngFor="let stepIndex of stepOrder; let i = index;">
                <div (click)="onStepClick(stepIndex)" [ngClass]="getStepClass(stepIndex)" *ngIf="getStep(stepIndex).active" class="step-bubble">
                    <fa-icon 
                        *ngIf="currentStep?.stepIndex === stepIndex" 
                        [icon]="faWrench"
                        class="fa-stack-1x" 
                        style="scale: 1.6; width: 100px; position:relative; margin-top: -7px;">
                    </fa-icon>

                    <fa-icon 
                        *ngIf="getStep(stepIndex).isComplete && currentStep?.stepIndex != stepIndex" 
                        [icon]="faCheck"
                        class="fa-stack-1x" 
                        style="scale: 2; width: 100px; position:relative; margin-top: -6px;">
                    </fa-icon>
                    
                    <fa-icon 
                        *ngIf="currentStep?.stepIndex != stepIndex && !getStep(stepIndex).isComplete" 
                        [icon]="faGear" 
                        class="fa-stack-1x" 
                        style="scale: 2; width: 100px; position:relative; margin-top: -6px;">
                    </fa-icon>
                </div>
                <div *ngIf="i < steps.length - 1 && getStep(stepIndex).active" class="step-divider"></div>
            </ng-container>
    </div>

    <div class="form-steps-container">
        <ng-container *ngFor="let stepIndex of stepOrder; let i = index;">
            <div *ngIf="getStep(stepIndex).active" style="width: 200px;text-align: center;margin-top: 5px;" [ngStyle]="titleStyle(i)">{{ getStep(stepIndex).title }}</div>
        </ng-container>
    </div>
</div>