.navigator-bar {
    width: 100%;
    height: 120px;
    background-color: var(--background-light-grey);
    padding-top: 2em;
    // border: 1px solid red;
}

.form-steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 32px;
    margin: auto;
    width: 80%;
}

.step-bubble {
    padding: 20px;
    border: 3px solid var(--nist-blue-default);
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--nist-blue-default);
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

.step-disabled {
    opacity: .2;
    cursor: default;
}

.step-divider {
    height: 2px;
    background: var(--nist-blue-default);
    flex: 1;
    margin: 0px 0px;
}

.step-current, .step-complete  {
    background: var(--nist-blue-default);
    color: var(--white);
}

.step-complete {
    background: var(--nist-green-default);
    color: var(--white);
}

.step-incomplete {
    cursor: pointer;
    // pointer-events: none;
}

.slow-spin {
    -webkit-animation: fa-spin 10s infinite linear;
    animation: fa-spin 10s infinite linear;
}

.large_icon{
    font-size:30pt;
 }