<div class="full-height">
    <oar-pushing-sidebar [marginLeft]="marginLeft" width="45%" style="width: 100%; height: fit-content;">
        <div class="main-content">
            <p>Select the collection that this publication should be added to:</p>

            <div class="radio-group">
                <div *ngFor="let collection of collectionData" class="radio">
                    <label [title]="collection.displayName">
                        <input type="radio" required name="collection" [value]="collection.value" [(ngModel)]="dataModel.collections[0]" (change)="onSelectChange($event)">
                        {{collection.displayName}}
                    </label>
                </div>
            </div>            
        </div>

        <span class="sidebar-title">{{helpText["label"]}}</span>
        <div class="sidebar-content" [innerHTML]="helpText['general']"></div>
    </oar-pushing-sidebar>

</div>
