<div class="full-height">
    <oar-pushing-sidebar [marginLeft]="marginLeft" style="width: 100%; height: fit-content;">
        <div class="main-content">
            <p>We're going to start with a few questions...</p>

            <p>
                What is the <i>primary</i> type of product that you wish to present in this
                publication?
            </p>

            <div class="radio-group">
                <div class="radio">
                    <label title="downloadable files or a searchable database">
                        <input type="radio" required name="resourceType" value="data" [(ngModel)]="dataModel.resourceType" (change)="onSelectChange($event)">
                        Data
                    </label>
                </div>
                <div class="radio">
                    <label title="source code or a downloadable application one may install and run">
                        <input type="radio" required name="resourceType" value="software"
                        [(ngModel)]="dataModel.resourceType" (change)="onSelectChange($event)">
                        Software
                    </label>
                </div>
                <div class="radio">
                    <label title="a web site that presents tools and information">
                        <input type="radio" required name="resourceType" value="website" [(ngModel)]="dataModel.resourceType" (change)="onSelectChange($event)">
                        A website or portal
                    </label>
                </div>
                <div class="radio">
                    <label title="either a programmatic web service or a service with a web-page interface">
                        <input type="radio" required name="resourceType" value="service" [(ngModel)]="dataModel.resourceType" (change)="onSelectChange($event)">
                        A network-accessible service
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" required name="resourceType" value="other" [(ngModel)]="dataModel.resourceType" (change)="onSelectChange($event)">
                        Something else
                    </label>
                </div>
            </div>            

            <div class="collection">
                <input type="checkbox" [(ngModel)]="dataModel.partOfCollection" (change)="toggleCollection()" aria-label="This publication will be published as part of an existing topical collection.">
                <span style="margin-left: .5em;">This publication will be published as part of an existing topical collection.</span>
            </div>
        </div>

        <span class="sidebar-title">{{helpText["label"]}}</span>
        <div class="sidebar-content" [innerHTML]="helpText['general']"></div>
    </oar-pushing-sidebar>

</div>
