<form [formGroup]="parantFormGroup" class="full-height">
    <oar-pushing-sidebar style="width: 100%; height: fit-content;">
        <div class="main-content">
            <p>Would you like to provide a link to a public software repository (e.g. in GitHub)?</p>
            <div class="radio-group">
                <div class="radio">
                    <label title="downloadable files or a searchable database">
                        <input type="radio" required name="provideLink" value="yes" (change)="toggleSoftwareLink($event)" formControlName="provideLink">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label title="source code or a downloadable application one may install and run">
                        <input type="radio" required name="provideLink" value="no"  (change)="toggleSoftwareLink($event)"
                            formControlName="provideLink">
                        No
                    </label>
                </div>
            </div>

            <div style="margin-top: 1em;" *ngIf="dataModel.provideLink">
                <div style="margin-bottom: .5em;">Type in software link: </div>
                <input type="text" pInputText name="softwareLink" formControlName="softwareLink" (input)="updateSoftwareLink($event)"/>
            </div>
        </div>
        <span class="sidebar-title">Question Help</span>
        <div class="sidebar-content">
            <p>
                With this question, you are telling us the <i>type</i> of product you are publishing.
                Your publication may present multiple types of products--for example, data plus software
                to analyze it--but, it is helpful for us to know what you consider is the most important
                product. And don't worry: you can change this later.
            <p>
                <i>[Helpful examples, links to policy and guideance]</i>
        </div>
    </oar-pushing-sidebar>
</form>
