<app-header titleLn1="PDR" titleLn2="Request Form"></app-header>

<div class="container p-0 shadow my-5 bg-white rounded">
    <app-dynamic-form></app-dynamic-form>
</div>
<p-toast position="bottom-center">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi 
                {{ message.severity === 'error' ? 'pi-times-circle' :
                   message.severity === 'warning' ? 'pi-exclamation-triangle' :
                   message.severity === 'info' ? 'pi-info-circle' :
                   'pi-check-circle'
                }}
                " style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p [innerHTML]="message.detail"></p>
            </div>
        </div>
    </ng-template>
</p-toast>
<!-- progress spinner when submitting form -->
<div class="progress-spinner" *ngIf="displayProgressSpinner">
    <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner" strokeWidth="8"
        animationDuration=".5s"></p-progressSpinner>
</div>

<app-footer></app-footer>