<!-- Added menu items to test routing lazy loading. Need to discuss details about the top menu. -->
<app-header
    [appVersion]="appVersion"
    titleLn1="MIDAS"
    titleLn2="DATA PUBLISHING">

    <!-- <div class="bar-right custom-navbar" >
      |  <a href="/pdr/about" target="_blank"><b>About</b></a> |
      <a href="" target="_blank"><b>Help</b></a> |
      <a href="" target="_blank"><b>Search</b></a> |
      <a href="/datacart/global_datacart"><b>Cart</b><i
          class="faa faa-shopping-cart faa-1x"></i><span
          class="w3-badge badge-pill badge-notify badge-style">&nbsp;10&nbsp;</span></a>  |
    </div> -->
</app-header>

<div style="min-height: 58%;">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
