<div class="full-height">
    <oar-pushing-sidebar [marginLeft]="marginLeft" style="width: 100%; height: fit-content;">
        <div class="main-content">
            <p>
                Is there—or will there be—an article published regarding this {{dataModel.resourceType}}?
            </p>

            <div class="radio-group">
                <div class="radio">
                    <label title="No, this will be a stand-alone publication">
                        <input
                            type="radio"
                            required
                            name="assocPageType"
                            value="stand-alone"
                            [(ngModel)]="dataModel.assocPageType"
                            (change)="onAssocPaperTypeChange()">
                        No, this will be a stand-alone publication
                    </label>
                </div>
                <div class="radio">
                    <label title="Yes, this {{dataModel.resourceType}} publication corresponds directly with the article.">
                        <input
                            type="radio"
                            required
                            name="assocPageType"
                            value="supplement"
                            [(ngModel)]="dataModel.assocPageType"
                            (change)="onAssocPaperTypeChange()">
                        Yes, this {{dataModel.resourceType}} publication corresponds directly with the article.
                    </label>
                </div>
                <div class="radio">
                    <label title="Yes, but the article is only loosely related this publication.">
                        <input
                            type="radio"
                            required name="assocPageType"
                            value="loosely-related"
                            [(ngModel)]="dataModel.assocPageType"
                            (change)="onAssocPaperTypeChange()">
                        Yes, but the article is only loosely related this publication.
                    </label>
                </div>
            </div>
        </div>

        <span class="sidebar-title">{{helpText["label"]}}</span>
        <div class="sidebar-content" [innerHTML]="helpText['general']"></div>
    </oar-pushing-sidebar>

</div>