<div class="full-height">
    <oar-pushing-sidebar [marginLeft]="marginLeft" style="width: 100%; height: fit-content;">
        <div class="main-content">
            <p>Will you be uploading any files to be included with this publication?</p>
            <div class="radio-group">
                <div class="radio">
                    <label title="Yes">
                        <input type="radio" required name="willUpload" [value]="true" [(ngModel)]="dataModel.willUpload" (change)="setSteps()">
                        Yes, <i>I will be uploading files.</i>
                    </label>
                </div>
                <div class="radio">
                    <label title="No">
                        <input type="radio" required name="willUpload" [value]="false" [(ngModel)]="dataModel.willUpload" (change)="setSteps()">
                        No, <i>the content of this publication is hosted at an external site.</i>
                    </label>
                </div>
            </div>
        </div>

        <span class="sidebar-title">{{helpText["label"]}}</span>
        <div class="sidebar-content" [innerHTML]="helpText['general']"></div>
    </oar-pushing-sidebar>
</div>
