.input {
    width: calc(100% - 300px);
}

.showNameBtn {
    background-color: var(--nist-blue-default) !important;
    height: 30px;
    color: white !important;
}

.showNameBtn:hover { 
    background-color: var(--nist-blue-light) !important;
}
